%h1&= build.human_status

%form{ :action => build_path(build), :method => :post }
  %p.submit
    - if build.completed? and build.project.html?
      %a.button{ :href => build_report_path(build) } Report
    %button{ :type => :submit, :title => "Rebuild this commit" }<
      Rebuild

%blockquote
  %p&= build.message
  - if build.completed?
    %p.meta<
      &== Built at #{build.completed_at.strftime('%H:%M')} on #{pretty_date build.completed_at}
  %p.meta<
    %span.who<
      &== Committed by: #{build.author}
    |
    %span.when{ :title => build.committed_at }<
      &= pretty_date build.committed_at
    - if build.project.github?
      |
      %span.github<
        %a{ :href => github_commit_url(build) } view on GitHub

- if build.completed?
  - if build.project.html?
    %h2 Test Result:
    %iframe{ :src => build_report_url(build) }
  - else
    %h2 Build Output:
    %pre.output
      :preserve
        #{bash_color_codes h(build.output)}
